body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  direction: rtl;
}
main {
  display: flex;
  flex-wrap: wrap;
}
main > section {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#header {
  background: #353637;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: 3px solid #32a0c2;
  padding: 0px 120px;
}
#branding h1 {
  font-size: 28px;
}
nav > ul {
  margin-top: 0px;
  list-style-type: none;
}
#header a {
  color: #ffffff;
  text-decoration: none;
}
nav > ul > li {
  float: right;
  margin-left: 15px;
}
li a {
  text-decoration: none;
  color: white;
}
#header .highlight,
#header .current a {
  color: #32a0c2;
}
#showcase {
  min-height: 400px;
  background: url(../img/closeup-computer-display-software-developer-typing-database-functions-script-it-startup-agency-display-concept-programer-writing-source-code-scrolling-text-programming-language.jpg);
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
  margin-top: 26px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

#myphoto {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 31px;
  margin: auto;
  border-radius: 500px;
}
#connect {
  flex: 100%;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
#order {
  display: flex;
  width: auto;
  height: auto;
  background-color: #756e6e;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-size: 30px;
}
